.wrap {
  position: absolute;
  perspective: 600px;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  text-align: center;
}
.card-shadow, .card {
  margin: 0 auto;
  margin-top: 42px;
  width: 300px;
  height: 450px;
  z-index: 1;
  position: absolute;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.card {
  background: #fff url('../images/cover-2.jpg') 50% 50%;
  background-size: 450%;
}
.card-shine {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  z-index: 1;
  border-radius: 10px;
  background: -webkit-linear-gradient(315deg, rgba(245, 245, 255, 0.1) 0%, rgba(255, 255, 255, 0) 60%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 60%);
  z-index: -1;
}
.card-shadow {
  top: 10px;
  transform-style: preserve-3d;
  transform: translateZ(40px);
  z-index: -1;
  background: #b3b3b3;
  transform: scale(0.5, 0.5);
  box-shadow: 0 0 30px 10px #aaa;
}
.card-front, .card-title, .card-subtitle {
  position: absolute;
  color: #fff;
  transform-style: preserve-3d;
}
.card-front {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, .1);
}
.card-title {
  font-weight: 700;
  text-align: left;
  left: 30px;
  bottom: 140px;
  font-size: 35px;
  line-height: 45px;
  text-shadow: 0 5px 8px rgba(0, 0, 0, .65);
  transform: translateZ(0px);
  overflow: hidden;
  margin: 0;
  width: 80%;
  font-family: 'Comfortaa', cursive;
}
.card-subtitle {
  font-weight: normal;
  text-align: left;
  left: 30px;
  width: 80%;
  bottom: 80px;
  font-size: 25px;
  line-height: 20px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, .8);
  transform: translateZ(0px);
  font-family: 'Comfortaa', cursive;
}
