@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Quicksand&display=swap');.message-wrap {
  color: #221403;
  position: relative;
  font-size: 22px;
  height: 100%;
  z-index: 10;
  &.on-color {
    color: white;
  }
  .container {
    height: 100%;
    min-width: 300px;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    overflow: auto;
  }
  .curved {
    font-family: 'Kaushan Script', cursive;
  }
  h2 {
    text-align: left;
    margin-top: 50px;
    height: 50px;
    font-size: 32px;
    font-family: 'Kaushan Script', cursive;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    transition: 1.5s 2s ease-in;
  }
  p {
    margin: 30px auto;
    opacity: 0;
    transition: 1s 3s ease-in;
  }
  font-family: 'Quicksand', sans-serif;
}

.open {
  .message-wrap h2 {
    width: 100%;
  }
  p {
    opacity: 1;
  }
  button {
    opacity: 1;
  }
}

@keyframes writingScript {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
