.book-card-container {
  @width: 300px;
  @height: 455px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
  perspective: 1000px;
  .book {
    position: absolute;
    margin: auto;
    bottom: (@height/-5);
    width: @width;
    height: @height;
    border-radius: 0 5px 5px 0;
    backface-visibility: hidden;
  }

  .book-wrap {
    position: relative;
  }

  .book-front {
    transition: all .3s ease-in-out;
    transform-origin: left center 0;
    transform-style: preserve-3d;
    background: url('../images/envelope.jpg');
    background-size: contain;
    overflow: hidden;
    z-index: 2;
    box-shadow: 2px 2px 0 0 #969696;
    p {
      display: block;
      position: absolute;
      top: 130px;
      text-align: center;
      width: 100%;
      color: #161667;
      font-size: 20px;
    }
  }
  .book-back {
    transition: transform .3s ease-in-out, opacity .4s ease-in-out;
    transform-origin: left center 0;
    transform-style: preserve-3d;
    opacity: 0;
    left: 0;
    right: 0;
  }

  .book-front::after {
    content: " ";
    display: block;
    opacity: 0;
    width: @width;
    height: @height;
    position: relative;
    left: 8px;
    transition: all .3s ease;
  }

  .book-back {
    overflow: hidden;
    border-radius: 5px;
    background: linear-gradient(30deg, #182C51, darken(#182C51, 13%));;
  }

  .moon {
    top: 100px;
    left: 100px;
    @media (max-width: 576px) {
      top: 30px;
      left: 30px;
    }
  }
  .moon:after, .moon:before {
    opacity: 0;
  }
  .moon:after {
    transition: 1s ease-in;
  }
  .moon:before {
    transition: 3s 1s ease-in;
  }
  /* ----- hover ----- */

  .book-front:hover, .book-front.pre-open {
    cursor: pointer;
    transform: rotateY(-28deg) rotateZ(-2deg) scale(1.02) translateZ(10px);
    backface-visibility: hidden;
    box-shadow: 2px 2px 0 0 #969696, 20px 10px 15px -5px rgba(0, 0, 0, 0.6);

    &:after {
      @left: 8 / 180 * @width;
      content: "";
      display: block;
      opacity: 1;
      width: @width - @left;
      height: @height;
      position: relative;
      left: @left;
      background: linear-gradient(-180deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 0) 60%);
    }

    & + .book {
      opacity: 1;
      transform: rotateY(-29deg) rotateZ(-2deg) scale(1.02) translate(20px, 8px);
    }

    &:before {
      transform: translateY(9px);
      opacity: 1;
    }
  }
  .book-front.get-away {
    transition: transform .5s;
    transform: rotateY(-540deg) rotateZ(-2deg) scale(1.02) translate3d(-1000px, -1000px, 100px);
    & + .book {
      transform: rotateY(0deg) rotateZ(0deg) scale(1) translate(0, 0);
      opacity: 1;
      height: 100%;
      width: 100%;
      bottom: 0;
      transition: .75s .1s;
      border-radius: 0;
      .moon:after, .moon:before {
        opacity: 1;
      }
    }
  }
}
