$gg:#EFF1F4;
$rr:#F44336;

.envbox {

  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;

}

#open-env {
  display:none;
}

.env {

  animation: envelope 2s;

  margin:200px auto 0;
  background:darken($gg,15%);
  width:500px;
  perspective: 3000px;
  perspective-origin: 50% 0;
  transform-style: preserve-3d;

  .rest {
    width:100px;
    height:0;
    margin: -300px auto 0;
    border:200px solid $gg;
    border-bottom:150px solid darken($gg,5%);
    border-top:150px solid transparent;
  }
  .content {
    width:400px;
    margin-bottom:500px;
    padding:40px 30px 0 30px;
    height:250px;
    background:#fff;
    transition: all 0.5s ease;
    text-align:center;
    position:absolute;
    z-index:-5;
    margin-left:25px;
    transform: translate(0,0);
    animation-delay:2s;
  }
  .top {
    display:block;
    width:0;
    height:0;
    border:200px solid transparent;
    border-top-color:darken($gg,10%);
    margin:0 auto -400px;
    transform: scale(1.25,1);
    cursor:pointer;
    transition: all 0.5s ease;
    transform-origin: 50% 0;
    position:relative;
  }

  .open-env & {
    label.top {
      animation: labeltop 1s ease forwards 1 0.5s;
      animation-delay:1.2s;

    }
    .content {
      animation:out 1s ease forwards 1 0.5s;
      animation-delay:2s;
    }
  }
}

@media (max-width: 768px) {
  .env {
    width: 320px;
    .rest {
      width: 30px;
      margin: -300px auto 0;
      border: 144px solid #EFF1F4;
      border-bottom: 100px solid #e0e4ea;
      border-top: 80px solid transparent;
    }
    .top {
      border: 128px solid transparent;
      margin: 0 auto 44px;
    }
  }
}

@keyframes out {
  100% {
    transform: translate(0px,-320px);
    height:420px;
  }
}

@keyframes envelope {
  0% {
    opacity: 0;
    transform: scale(0.8, 0.8) translate(400px,0px);
  }
  100% {
    opacity: 100;
    transform: scale(1.0, 1.0) translate(0px,0px);
  }
}


@keyframes labeltop {
  100% {
    transform: rotateX(-180deg) scale(1.25,1);
    z-index:-20;
  }

}
