@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore&display=swap');
body {
  font-family: 'La Belle Aurore', cursive;
}
.message-wrap {
  max-width: 500px;
  height: 400px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: white;
  opacity: 0;
  h2 {
    font-size: 32px;
    text-shadow: 1px 2px 10px white;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    height: 60px;
    box-sizing: border-box;
  }
}
.book-full .message-wrap {
  opacity: 1;
  transition: .3s;
  h2 {
    width: 100%;
    transition: 3s 2s;
  }
}